/* Establecer la altura fija para todas las tarjetas */
.custom-card {
    height: 300px; /* Ajusta la altura según tus preferencias */
    overflow: hidden;
    background-color: #333;
  }
  
  /* Asegurar que el contenido interno se ajuste correctamente */
  .custom-card .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 0%;
  }
  
  /* Recortar el contenido de la descripción y agregar puntos suspensivos */
  .custom-card .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h5.card-title {
    margin-trim: in-flow;
  }

  /* Estilo para las imágenes en las tarjetas */
.custom-card img {
    height: 200px; /* Ajusta la altura según tus preferencias */
    object-fit: cover; /* Ajusta el comportamiento de la imagen */
  }

/* Estilos para el panel de navegación */
.filters {
  position: sticky;
  top: 20px; /* Ajusta esta distancia según tus necesidades */
  padding: 15px;
  background-color: #000; /* Cambia el color de fondo a negro */
}

/* Estilos para la barra de búsqueda */
.form-control {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
}

/* Estilos para la lista de libros con scroll */
.book-list {
  max-height: 500px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto;
}

/* Estilos para las etiquetas de filtro */
.filter-label {
  color: white; /* Cambia el color del texto a blanco */
  display: block; /* Opcional, ajusta la presentación de las etiquetas */
  margin-bottom: 8px; /* Opcional, agrega espacio entre etiquetas */
}

h4 {
  color: white; /* Cambia el color del texto a blanco */
}

/* Estilo para quitar el margen superior del h4 en la lista desplegable */
details summary h4 {
  margin-top: 0;
}

/* Estilos para la lista desplegable */
details {
  background-color: #333; /* Fondo de la lista desplegable */
  color: white; /* Color del texto en la cabecera */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Cambiar estilo del título cuando la lista está abierta */
details[open] summary {
  font-weight: bold;
}

/* Estilos para el contenido oculto de la lista */
details summary::-webkit-details-marker {
  display: none; /* Ocultar el icono de flecha predeterminado */
}

.filter-options {
  margin-left: 20px; /* Espaciado para los checkbox dentro de la lista desplegable */
}

/* Alinear los checkbox uno debajo del otro */
.filter-options label {
  display: block;
  margin-top: 5px;
}

  
  