/* Estilos para el panel de filtros */
.filters {
  position: sticky;
  top: 20px;
  padding: 15px;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.filters summary {
  cursor: pointer;
}

/* Estilos para la barra de búsqueda */
.form-control {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
}

/* Estilos para la lista desplegable */
.filter-section {
  margin-top: 10px;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
}

.filter-section summary::-webkit-details-marker {
  display: none;
}

.filter-section label {
  display: block;
  margin-bottom: 8px;
}

.filter-options {
  margin-left: 10px;
}

/* Estilos para la lista de libros */
.book-list {
  max-height: 500px;
  overflow-y: auto;
}

/* Estilos para las etiquetas de filtro */
.filter-title {
  color: #f8f8f8;
}

/* Establecer la altura fija para todas las tarjetas */
.custom-card {
  height: 300px;
  overflow: hidden;
  background-color: #333;
}

/* Asegurar que el contenido interno se ajuste correctamente */
.custom-card .card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0%;
}

/* Recortar el contenido de la descripción y agregar puntos suspensivos */
.custom-card .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h5.card-title {
  margin-trim: in-flow;
}

/* Estilo para las imágenes en las tarjetas */
.custom-card img {
  height: 200px;
  object-fit: cover;
}

/* Otros estilos generales */
.container {
  margin: 0; /* Eliminar el margen */
  padding: 0;
  margin-top: 20px;
  margin-left: 20px;
}

.card {
  margin-bottom: 20px;
}

details summary h4 {
  margin-top: 0;
}

/* Estilos para la lista de libros */
.book-list-container {
  width: 100%; /* Ocupa todo el ancho disponible */
  max-height: calc(100vh - 150px); /* Resta el espacio del encabezado, panel de filtros y margen inferior */
  overflow-y: auto;
}

.filters-container {
  display: flex;
  align-items: flex-start;
}

h2 {
  /* Estilos para el título */
  margin-top: 0; /* Ajusta el margen superior según lo necesites */
  color: white;;
}
