/* Establecer la altura fija para todas las tarjetas */
.custom-card {
    height: 300px; /* Ajusta la altura según tus preferencias */
    overflow: hidden;
    background-color: #333;
  }
  
  /* Asegurar que el contenido interno se ajuste correctamente */
  .custom-card .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 0%;
  }
  
  /* Recortar el contenido de la descripción y agregar puntos suspensivos */
  .custom-card .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h5.card-title {
    margin-trim: in-flow;
  }

  /* Estilo para las imágenes en las tarjetas */
.custom-card img {
    height: 200px; /* Ajusta la altura según tus preferencias */
    object-fit: cover; /* Ajusta el comportamiento de la imagen */
  }

/* Estilos para el panel de navegación */
.filters {
  position: sticky;
  top: 20px; /* Ajusta esta distancia según tus necesidades */
  padding: 15px;
  background-color: #000; /* Cambia el color de fondo a negro */
}

/* Estilos para la barra de búsqueda */
.form-control {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
}

/* Estilos para la lista de libros con scroll */
.book-list {
  max-height: 500px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto;
}

/* Estilos para las etiquetas de filtro */
.filter-label {
  /* color: white;  */
  display: block; /* Opcional, ajusta la presentación de las etiquetas */
  margin-bottom: 8px; /* Opcional, agrega espacio entre etiquetas */
}

/* h4 {
  color: white; 
} */

/* Estilos para el panel de filtros */
.filters {
  background-color: black;
  /* color: white; */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Estilos para la lista desplegable */
.filter-section {
  margin-top: 10px;
  background-color: #f8f8f8; /* Cambia el color de fondo según tus preferencias */
  padding: 10px;
  border-radius: 5px;
}

.filter-section summary {
  cursor: pointer;
}

.filter-options {
  margin-left: 10px;
}

/* Estilos para el botón de expandir/ocultar */
.filters summary::-webkit-details-marker {
  display: none;
}

/* Estilos para la lista de libros */
.book-list {
  max-height: 500px; /* Ajusta la altura máxima deseada */
  overflow-y: auto;
}

/* Otros estilos generales */
.container {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}

details summary h4 {
  margin-top: 0;
}

/* Estilos para las etiquetas de filtro */
.filter-section label {
  display: block;
  margin-bottom: 8px; /* Opcional, agrega espacio entre etiquetas */
}

.filter-title {
  color: #f8f8f8;
}
