<router-outlet></router-outlet>
<!-- <nav>
  <ul>
    <li><a href="/authors">Autores</a></li>
    <li><a [href]="['/books']">Libros</a></li>
    <li><a routerLink="/categories">Categorias</a></li>
    <li><a routerLink="/gameStores">Tiendas</a></li>
    <li><a routerLink="/movies">Peliculas</a></li>
    <li><a routerLink="/series">Series</a></li>
    <li><a routerLink="/states">Estados</a></li>
    <li><a routerLink="/streamPages">Paginas</a></li>
    <li><a routerLink="/types">Tipos</a></li>
    <li><a routerLink="/videogames">Videojuegos</a></li>
  </ul>
</nav> -->
